<div class="flex flex-col items-center justify-center h-screen">
  <h1 class="text-3xl">Sign up</h1>

  <div class="flex flex-row my-4">
    <label class="mr-2" for="email">Email:</label>
    <input type="text" placeholder="example@example.com" />
  </div>

  <button
    (click)="onSubmit()"
    class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded-full shadow"
  >
    <a>Sign up</a>
  </button>
  <div class="my-12">
    <p>
      Already have an account?
      <a [routerLink]="'/' + loginPath.path">{{ loginPath.title }}</a>
    </p>
  </div>
</div>
