<h1 class="text-center text-3xl">Learner Dashboard</h1>
<div class="my-4">
  <h1 class="text-xl">Started courses</h1>

  <div class="flex flex-row justify-between my-4">
    @for (course of startedCourses; track $index) {
    <app-course-preview [course]="course"></app-course-preview>
    } @empty {
    <p>No courses started</p>
    }
  </div>
</div>
<hr />

<div class="my-4">
  <h1 class="text-xl">Available courses</h1>

  <div class="flex flex-row justify-between my-4">
    @for (course of availableCoursesToUnlock; track $index) {
    <app-course-preview [course]="course"></app-course-preview>
    } @empty {
    <p>No courses available</p>
    }
  </div>
</div>
<hr />

<div class="my-4">
  <h1 class="text-xl">Completed courses</h1>

  <div class="flex flex-row justify-between my-4">
    @for (course of completedCourses; track $index) {
    <app-course-preview [course]="course"></app-course-preview>
    } @empty {
    <p>No courses completed</p>
    }
  </div>
</div>
